@page "{id}"
@model Payroll.Pages.Project.ConfirmModel

<div class="header">
    <h2>Delete Project</h2>
</div>

<div class="content">
    <h2 class="content-subhead">Project Information</h2>

    @ViewData["message"]

</div>